h1, h2 {
  text-align: center;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.clock-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 700px) {
  .clock-row {
    flex-direction: row;
  }
}

.clock-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 30px;
  height: 30px;
}

.lightgreen {
  background: lightgreen;
}

.green {
  background: green;
}

.pink {
  background: pink;
}

.salmon {
  background: salmon;
}

/* LOS ANGELES */
/* Manuel */
#manuel-la-offline .react-clock__face {
  background-image: linear-gradient(-60deg, pink 50%, transparent 50%),
    linear-gradient(210deg, transparent 50%, pink 50%);
  background: conic-gradient(white 0deg 30deg, pink 30deg 300deg, white 270deg);
}
#manuel-la-online .react-clock__face {
  background-image: linear-gradient(-60deg, lightgreen 50%, transparent 50%),
    linear-gradient(210deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(white 0deg 30deg, lightgreen 30deg 300deg, white 270deg);
}

/* John */
#john-la-offline .react-clock__face {
  background-image: linear-gradient(90deg, pink 50%, transparent 50%),
    linear-gradient(-60deg, transparent 50%, pink 50%);
  background: conic-gradient(salmon 0deg 30deg, white 30deg 180deg, pink 180deg);
}
#john-la-online .react-clock__face {
  background-image: linear-gradient(90deg, lightgreen 50%, transparent 50%),
    linear-gradient(-60deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(green 0deg 30deg, white 30deg 180deg, lightgreen 180deg);
}

/* Jp */
#jp-la-offline .react-clock__face {
  background-image: linear-gradient(270deg, pink 50%, transparent 50%),
    linear-gradient(0deg, transparent 50%, pink 50%);
  background: conic-gradient(salmon 0deg 180deg, white 180deg 270deg, pink 270deg);
}
#jp-la-online .react-clock__face {
  background-image: linear-gradient(270deg, lightgreen 50%, transparent 50%),
    linear-gradient(0deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(green 0deg 180deg, white 180deg 270deg, lightgreen 270deg);
}

/* Dev */
#dev-la-offline .react-clock__face {
  background-image: linear-gradient(240deg, pink 50%, transparent 50%),
    linear-gradient(0deg, transparent 50%, pink 50%);
  background: conic-gradient(pink 0deg 150deg, white 150deg 270deg, salmon 270deg);
}
#dev-la-online .react-clock__face {
  background-image: linear-gradient(240deg, lightgreen 50%, transparent 50%),
    linear-gradient(0deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(lightgreen 0deg 150deg, white 150deg 270deg, green 270deg);
}

/* NEW YORK */
/* Manuel */
#manuel-ny-offline .react-clock__face {
  background-image: linear-gradient(30deg, pink 50%, transparent 50%),
    linear-gradient(-60deg, transparent 50%, pink 50%);
  background: conic-gradient(salmon 0deg 30deg, white 30deg 120deg, pink 120deg);
}
#manuel-ny-online .react-clock__face {
  background-image: linear-gradient(30deg, lightgreen 50%, transparent 50%),
    linear-gradient(-60deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(green 0deg 30deg, white 30deg 120deg, lightgreen 120deg);
}

/* John */
#john-ny-offline .react-clock__face {
  background-image: linear-gradient(210deg, pink 50%, transparent 50%),
    linear-gradient(0deg, transparent 50%, pink 50%);
  background: conic-gradient(salmon 0deg 120deg, white 120deg 270deg, pink 180deg);
}
#john-ny-online .react-clock__face {
  background-image: linear-gradient(210deg, lightgreen 50%, transparent 50%),
    linear-gradient(0deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(green 0deg 120deg, white 120deg 270deg, lightgreen 180deg);
}

/* Jp */
#jp-ny-offline .react-clock__face {
  background-image: linear-gradient(0deg, pink 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, pink 50%);
  background: conic-gradient(salmon 0deg 270deg, white 270deg);
}
#jp-ny-online .react-clock__face {
  background-image: linear-gradient(0deg, lightgreen 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(green 0deg 270deg, white 270deg);
}

/* Dev */
#dev-ny-offline .react-clock__face {
  background-image: linear-gradient(-30deg, pink 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, pink 50%);
  background: conic-gradient(pink 0deg 240deg, white 240deg);
}
#dev-ny-online .react-clock__face {
  background-image: linear-gradient(-30deg, lightgreen 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(lightgreen 0deg 240deg, white 240deg);
}

/* SPAIN */
/* Manuel */
#manuel-eu-offline .react-clock__face {
  background-image: linear-gradient(210deg, pink 50%, transparent 50%),
    linear-gradient(120deg, transparent 50%, pink 50%);
  background: conic-gradient(salmon 0deg 210deg, white 210deg 300deg, pink 300deg);
}
#manuel-eu-online .react-clock__face {
  background-image: linear-gradient(210deg, lightgreen 50%, transparent 50%),
    linear-gradient(120deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(green 0deg 210deg, white 210deg 300deg, lightgreen 300deg);
}

/* John */
#john-eu-offline .react-clock__face {
  background-image: linear-gradient(0deg, pink 50%, transparent 50%),
    linear-gradient(210deg, transparent 50%, pink 50%);
  background: conic-gradient(white 0deg 90deg, salmon 90deg 300deg, white 300deg);
}
#john-eu-online .react-clock__face {
  background-image: linear-gradient(0deg, lightgreen 50%, transparent 50%),
    linear-gradient(210deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(white 0deg 90deg, green 90deg 300deg, white 300deg);
}

/* Jp */
#jp-eu-offline .react-clock__face {
  background-image: linear-gradient(-180deg, pink 50%, transparent 50%),
    linear-gradient(-90deg, transparent 50%, pink 50%);
  background: conic-gradient(pink 0deg 90deg, white 90deg 180deg, salmon 180deg);
}
#jp-eu-online .react-clock__face {
  background-image: linear-gradient(-180deg, lightgreen 50%, transparent 50%),
    linear-gradient(-90deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(lightgreen 0deg 90deg, white 90deg 180deg, green 180deg);
}

/* Dev */
#dev-eu-offline .react-clock__face {
  background-image: linear-gradient(90deg, pink 50%, transparent 50%),
    linear-gradient(-30deg, transparent 50%, pink 50%);
  background: conic-gradient(salmon 0deg 60deg, white 60deg 180deg, pink 180deg);
}
#dev-eu-online .react-clock__face {
  background-image: linear-gradient(90deg, lightgreen 50%, transparent 50%),
    linear-gradient(-30deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(green 0deg 60deg, white 60deg 180deg, lightgreen 180deg);
}

/* INDIA */
/* Manuel */
#manuel-as-offline .react-clock__face {
  background-image: linear-gradient(-15deg, pink 50%, transparent 50%),
    linear-gradient(255deg, transparent 50%, pink 50%);
  background: conic-gradient(white 0deg 75deg, salmon 75deg 345deg, white 345deg);
}
#manuel-as-online .react-clock__face {
  background-image: linear-gradient(-15deg, lightgreen 50%, transparent 50%),
    linear-gradient(255deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(white 0deg 75deg, green 75deg 345deg, white 345deg);
}

/* John */
#john-as-offline .react-clock__face {
  background-image: linear-gradient(165deg, pink 50%, transparent 50%),
    linear-gradient(315deg, transparent 50%, pink 50%);
  background: conic-gradient(pink 0deg 75deg, white 75deg 225deg, salmon 225deg);
}
#john-as-online .react-clock__face {
  background-image: linear-gradient(165deg, lightgreen 50%, transparent 50%),
    linear-gradient(315deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(lightgreen 0deg 75deg, white 75deg 225deg, green 225deg);
}

/* Jp */
#jp-as-offline .react-clock__face {
  background-image: linear-gradient(225deg, pink 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, pink 50%);
  background: conic-gradient(pink 0deg 225deg, white 225deg 310deg, salmon 310deg);
}
#jp-as-online .react-clock__face {
  background-image: linear-gradient(225deg, lightgreen 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(lightgreen 0deg 225deg, white 225deg 310deg, green 310deg);
}

/* Dev */
#dev-as-offline .react-clock__face {
  background-image: linear-gradient(285deg, pink 50%, transparent 50%),
    linear-gradient(45deg, transparent 50%, pink 50%);
  background: conic-gradient(pink 0deg 240deg, white 240deg);
}
#dev-as-online .react-clock__face {
  background-image: linear-gradient(285deg, lightgreen 50%, transparent 50%),
    linear-gradient(45deg, transparent 50%, lightgreen 50%);
  background: conic-gradient(green 0deg 195deg, white 195deg 315deg, lightgreen 315deg);
}
