h2 {
  text-align: center;
}

.clock-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/* NEW YORK */

#john-ny-offline .react-clock__face {
  background-image: linear-gradient(210deg, salmon 50%, transparent 50%),
    linear-gradient(0deg, transparent 50%, salmon 50%);
}

#john-ny-online .react-clock__face {
  background-image: linear-gradient(210deg, lightgreen 50%, transparent 50%),
    linear-gradient(0deg, transparent 50%, lightgreen 50%);
}

#manuel-ny-offline .react-clock__face {
  background-image: linear-gradient(30deg, salmon 50%, transparent 50%),
    linear-gradient(-60deg, transparent 50%, salmon 50%);
}

#manuel-ny-online .react-clock__face {
  background-image: linear-gradient(30deg, lightgreen 50%, transparent 50%),
    linear-gradient(-60deg, transparent 50%, lightgreen 50%);
}

#dev-ny-offline .react-clock__face {
  background-image: linear-gradient(-30deg, salmon 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, salmon 50%);
}

#dev-ny-online .react-clock__face {
  background-image: linear-gradient(-30deg, lightgreen 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, lightgreen 50%);
}
